.card {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1 {
  font-family: Poppins;
  padding-left: 50px;
}
h2 {
  font-family: Poppins;
  padding-left: 50px;
}
h3 {
  font-family: Poppins;
  text-align: center;
}

.weather-today .card-body {
  background: #fff;
  text-align: center;
}

p {
  text-align: center;
  font-family: Poppins;
}

a {
  text-align: left;
}

.weather-app {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 25px;
}

.card-text {
  text-transform: capitalize;
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 2px;
}
